.root {
	@apply bg-gradient-to-b from-canvas to-transparent;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		bottom: -1rem;
		z-index: -1;
		mask: linear-gradient(to bottom, #000 25%, transparent);
		@apply backdrop-blur-sm backdrop-saturate-150;
	}
}
